services:
  kubelet:
    build:
      context: .
      dockerfile: ./Dockerfile
    privileged: true
    network_mode: host
    pid: host
    ipc: host
    uts: host
    volumes:
      - /var/run/kubelet:/var/run/kubelet
      - /var/run/cri-dockerd:/var/run/cri-dockerd
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker:/var/lib/docker
      - /sys/fs/cgroup:/sys/fs/cgroup:rw

  # kicbase:
  #   build:
  #     context: .
  #     dockerfile: ./Dockerfile.kicbase
  #   privileged: true
  #   security_opt:
  #     - seccomp:unconfined
  #     - apparmor:unconfined
  #     - label:disable
  #   volumes:
  #     - /lib/modules:/lib/modules:ro
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - /var/lib/docker:/var/lib/docker
  #   tmpfs:
  #     - /run
  #     - /tmp