services:
  kicbase:
    build:
      context: .
      dockerfile: ./Dockerfile.kicbase
    privileged: true
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
      - label:disable
    volumes:
      - /lib/modules:/lib/modules:ro
      - kicbase:/var
    tmpfs:
      - /run
      - /tmp
    tty: true

volumes:
  kicbase: {}