services:
  kubelet:
    build:
      context: .
      dockerfile: ./Dockerfile
    tty: true
    stdin_open: true
    privileged: true
    network_mode: host
    pid: host
    ipc: host
    uts: host
    volumes:
      # - /etc/machine-id:/etc/machine-id:ro
      - /var/run/kube:/var/run/kube
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker:/var/lib/docker
      - /sys/fs/cgroup:/sys/fs/cgroup
    environment:
      - DEBUG=false
