services:
  kubelet:
    build:
      context: .
      dockerfile: ./Dockerfile
    privileged: true
    network_mode: host
    pid: host
    ipc: host
    uts: host
    stop_grace_period: 60s
    stop_signal: SIGTERM
    volumes:
      - /var/run/kubelet:/var/run/kubelet
      - /var/run/cri-dockerd:/var/run/cri-dockerd
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker:/var/lib/docker
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
