apiVersion: v1
kind: Pod
metadata:
  name: busybox
spec:
  priority: 2000001000
  priorityClassName: system-node-critical
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  volumes:
    - name: tmp
      emptyDir: {}
    - name: var-run-kube
      hostPath:
        path: /var/run/kube
        type: DirectoryOrCreate
  containers:
    - name: busybox
      image: busybox
      command:
        - sleep
        - infinity
      volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: var-run-kube
          mountPath: /var/run/kube
