apiVersion: v1
kind: Pod
metadata:
  name: hello-world
  namespace: default
spec:
  restartPolicy: Always
  containers:
    - name: nginx
      image: nginx:alpine
      ports:
        - containerPort: 80
      stdin: false
      tty: false
