name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  kicbase:
    strategy:
      matrix:
        include:
          - kube-version: "1.34"
            go-version: "1.24"
            kicbase-version: "0.0.47"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=${{ matrix.kube-version }},enable=${{ github.ref == 'refs/heads/main' }}
            type=sha,prefix=${{ matrix.kube-version }}-

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.kicbase
          platforms: |
            linux/amd64
            linux/arm64
          pull: true
          push: ${{ github.ref == 'refs/heads/main' }}
          build-args: |
            KICBASE_VERSION=${{ matrix.kicbase-version }}
            KUBE_VERSION=${{ matrix.kube-version }}
            KUBE_VERSION_GO=${{ matrix.go-version }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
